<div class="app-detail-wrapper">
  <div class="header-area">
    <div class="header-and-button-area">
      <button
        id="back-button"
        mat-icon-button
        [routerLink]="['/']"
        matTooltip="Go back to overview"
        aria-label="Button linking to apps overview"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3>App deployed at: {{ targetOrigin() }}</h3>
    </div>
  </div>
  <div class="main-section-wrapper">
    <div class="main-section">
      <mat-card appearance="outlined">
        <mat-card-header class="card-header">
          <h4>Application type: {{ appInfo?.appInfoModel?.appType }}</h4>
          <h6>Info retrieved from: {{ target() }}</h6>
        </mat-card-header>
        <mat-card-content>
          <p>Description: {{ appInfo?.appInfoModel?.appType }}</p>
          <a [href]="appInfo?.appInfoModel?.frontendUrl">Link to front end</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
