.ip-overview-wrapper {
    margin-bottom: 1%;
}

.app-active-icon {
    color: green;
}

.app-inactive-icon {
    color: darkred;
}

button {
    color: white;
}

.edit-button {
    background-color: goldenrod;
}

.view-frontend-button {
    background-color: dodgerblue;
}