$app-green-color: #1a7a22;
$app-yellow-clor: #ccd21e;

.ip-overview-wrapper {
    margin-bottom: 1%;
}

.mat-success {
    color: $app-green-color;
}

.mat-accent {
    color: $app-yellow-clor;
}

.header-top-row {
    display: flex;
}
