$app-green-color: #1a7a22;
$app-yellow-clor: #ccd21e;

.ip-overview-wrapper {
    margin-bottom: 1%;
}

.app-active-icon {
    color: $app-green-color;
}

.app-inactive-icon {
    color: darkred;
}

.mat-success {
    color: $app-green-color;
}

.mat-accent {
    color: $app-yellow-clor;
}
