<div>
  <div class="header-area">
    <div class="title-area">
      <button
        id="back-button"
        mat-icon-button
        [routerLink]="['/']"
        matTooltip="Go to detailed view"
        aria-label="Button linking to app details"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3>Info edit</h3>
    </div>
    <h5>{{ targetWithoutEndpoint() }}</h5>
  </div>
  <div>
    <form
      class="form-area"
      [formGroup]="detailsForm"
      (ngSubmit)="onFormSubmit()"
    >
      <mat-form-field class="form-field">
        <mat-label>Select app type</mat-label>
        <mat-select formControlName="appType">
          <mat-option value="one">Eulohy</mat-option>
          <mat-option value="two">Eform</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Enter app description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Enter front end link</mat-label>
        <input matInput formControlName="frontendLink" />
      </mat-form-field>
      <button type="submit" mat-flat-button>Submit data</button>
    </form>
  </div>
</div>
