.title-area {
    display: flex;
    flex-direction: row;
}

#back-button {
    margin-right: 0.6%;
}

.form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field {
    width: 30%;
}